@model BookCollection.Models.Book

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>AddBook</title>
</head>
<body>
	<div>
		@using (Html.BeginForm())
		{
			@Html.ValidationSummary();
	  
			<p>Author Name: @Html.TextBoxFor(x => x.AuthorName)</p>
			<p>Title: @Html.TextBoxFor(x => x.Title)</p>
			<p>Publisher: @Html.TextBoxFor(x => x.Publisher)</p>
			<p>Publish Date: @Html.EditorFor(x => x.PublishDate)</p> <!-- datetime picker only works on chrome -->
	  
			<input type="submit" name="Add Book" />
		}
		
	</div>
</body>
</html>
