@model List<BookCollection.Models.Book>

<div>
	<table>
		<tr><th>Author Name</th><th>Title</th><th>Publisher</th><th>Publish Date</th></tr>
		@{
			foreach (var book in Model)
			{
				<tr>
					<td>@book.AuthorName</td>
					<td>@book.Title</td>
					<td>@book.Publisher</td>
					<td>@book.PublishDate.ToShortDateString()</td>
				</tr>
			}
		}
	</table>
</div>
<br/>
<div>@Html.ActionLink("Add New Book", "AddBook")</div>
