@model List<BookCollection.Models.Book>

<div>
	<table>
		<tr><th>Author Name</th><th>Title</th><th>Publisher</th><th>Publish Date</th></tr>
		@{
			foreach (var book in Model)
			{
				<tr>
					<td>@book.AuthorName</td>
					<td>@book.Title</td>
					<td>@book.Publisher</td>
					<td>@book.PublishDate.ToShortDateString()</td>
				</tr>
			}
		}
	</table>
</div>
<br/>
<div>@Html.ActionLink("Add New Book", "AddBook")</div>

@section partial {
	<div id="partialContainer">
	@{
		var book = new BookCollection.Models.Book() {
			Title       = "Partial title from Index.cshtml.",
			AuthorName  = "Partial author from Index.cshtml.",
			Publisher   = "Partial publisher from index.cshtml.",
			PublishDate = DateTime.Now
		};
		
		var dictionary = new ViewDataDictionary {
			{ "key1", "Index.cshtml value 1" },
			{ "key2", "Index.cshtml value 2" },
			{ "key3", "Index.cshtml value 3" }
		};

		Html.RenderPartial("~/Views/Partials/BookPartial.cshtml", book, dictionary);
	}
	</div>
}

@section footer {
	Index.cshtml footer (section rendered).
}